body {
  font-family: "Helvetica", sans-serif;
}
li {
  list-style-type: none;
}
html {
  scroll-behavior: smooth;
}
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(110, 110, 110);
}

.header {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  margin: 0;
  z-index: 1;
  background-color: white;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 70px;
  justify-content: space-around;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.header__nav {
  width: 60%;
}

.header__logo {
  width: 50px;
  height: 50px;
}
.header__item {
  margin-right: 20px;
  font-size: 1.3rem;
  font-family: "Helvetica", sans-serif;
}
.header__item:last-child {
  margin: 0;
}
.header__button {
  font-family: "Helvetica", cursive;
  font-size: 1rem;
  border: 1;
  border-radius: 20px;
  border-color: white;
  min-width: 100px;
}
.description-wraper {
  display: flex;
  padding-bottom: 100px;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  background-image: url("https://www.apple.com/ac/ac-video-posterframe/1.0/images/ac-video-poster_848x480_2x.jpg");
}
.description {
  color: black;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description__title {
  font-size: 3rem;
  margin: 50px 0 10px;
  text-align: center;
  font-weight: normal;
  line-height: 48px;
}
.description__subtitle {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 0 20px;
  text-align: center;
}
.button {
  width: 100px;
  height: 30px;
  background-color: black;
}
.description__button {
  color: white;
  font-size: 0.8rem;
  border: 0;
  border-radius: 20px;
  margin: 0 0 30px;
}

.slider {
  position: relative;
  width: 700px;
}

.slider__img_ipad {
  width: 200px;
  height: 100%;
}
.slider__input {
  display: none;
}

.slider__inner {
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 7px 22px 0 rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 20px 0;
}

.slider__slides {
  width: 400%;
  transition: transform 0.8s ease;
}

.slider__img {
  float: left;
  width: 25%;
  height: 376px;
  object-fit: contain;
}

#btn-1:checked ~ .slider__controls .slider__label[for="btn-1"]:before,
#btn-2:checked ~ .slider__controls .slider__label[for="btn-2"]:before,
#btn-3:checked ~ .slider__controls .slider__label[for="btn-3"]:before,
#btn-4:checked ~ .slider__controls .slider__label[for="btn-4"]:before {
  background-color: transparent;
}

#btn-1:checked ~ .slider__inner .slider__slides {
  transform: translate(0);
  animation: 40s infinite slide;
}

#btn-2:checked ~ .slider__inner .slider__slides {
  transform: translate(-25%);
}

#btn-3:checked ~ .slider__inner .slider__slides {
  transform: translate(-50%);
}

#btn-4:checked ~ .slider__inner .slider__slides {
  transform: translate(-75%);
}

@keyframes slide {
  from {
    top: 0;
    left: 0;
  }
  10% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(-700px, 0);
  }
  25% {
    transform: translate(-700px, 0);
  }
  30% {
    transform: translate(-700px, 0);
  }
  35% {
    transform: translate(-1400px, 0);
  }
  45% {
    transform: translate(-1400px, 0);
  }
  50% {
    transform: translate(-2100px, 0);
  }
  60% {
    transform: translate(-2100px, 0);
  }
  65% {
    transform: translate(-1400px, 0);
  }
  70% {
    transform: translate(-1400px, 0);
  }
  80% {
    transform: translate(-700px, 0);
  }
  90% {
    transform: translate(-700px, 0);
  }
  100% {
    transform: translate(0px, 0px);
  }
  to {
    transform: (0px, 0px);
  }
}
.card {
  padding-bottom: 100px;
}
.card__item {
  padding: 40px 40px 0 40px;
}
.card__container {
  display: grid;
  align-self: center;
  max-width: 90%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50%;
  margin: auto;
  position: relative;
}
.card__item_padding-border {
  padding: 30px;
}
.card__text {
  font-size: 36px;
  line-height: 1;
  font-weight: 600;
  margin: 0 0 20px;
}
.card__link {
  text-decoration: none;
  font-family: "Helvetica", sans-serif;
}
.card__title {
  font-weight: 400;
}
.card__item_background-iphone:after {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  left: 0%;
  top: 0%;
}
.card__item_description-macbook {
  text-align: right;
}
.card__item_background-iphone {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone11-select-2019-family_GEO_EMEA?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=80&amp;op_usm=0.5,0.5&amp;.v=1567022219953");
}
.card__item_background-macbook {
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://static.re-store.ru/upload/resize_cache/iblock/b15/1120_1048_17f5c944b3b71591cc9304fac25365de2/b150ea3967babb753a28d196757b428a.jpg");
}
.card__item_background-macbook:after {
  content: "";
  width: 48%;
  height: 50%;
  position: absolute;
  border-top: 2px solid black;
  border-left: 2px solid black;
  left: 0%;
  top: 50%;
}
.opportunity {
  padding: 40px;
}
.opportunity__card {
  position: relative;
  max-width: 400px;
  justify-self: right;
}
.opportunity__section {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 700px 1fr;
}
.opportunity__img {
  max-width: 300px;
}

.opportunity__card_position_down {
  padding-top: 400px;
  justify-self: left;
}
.opportunity__text-container-left {
  padding-left: 60px;
}

.opportunity__text-container-right {
  padding-right: 60px;
  max-width: 400px;
}
.opportunity__card_type_iphone:after {
  content: "";
  width: 50%;
  height: 80%;
  position: absolute;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  left: 50%;
  top: 10%;
}
.opportunity__card_type_AirPodsPro:after {
  content: "";
  width: 70%;
  height: 50%;
  position: absolute;
  border-top: 2px solid black;
  border-left: 2px solid black;
  left: 0%;
  top: 40%;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f7;
}
.footer__description-text {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  margin: 5px 0;
}

.footer__container {
  margin: 0;
  padding: 5px;
  white-space: nowrap;
}
.footer__item {
  border-right: 1px solid #d2d2d7;
  margin-right: 10px;
  padding-right: 10px;
  display: inline-block;

  font-size: 0.6em;
}
.footer__description-text_border_bottom {
  margin-bottom: 7px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d2d2d7;
}
